<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>server.addr</key>
	<string>192.168.1.82</string>
	<key>server.img.compression</key>
	<string>0.8</string>
	<key>server.port</key>
	<string>8090</string>
</dict>
</plist>
